<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp304lab6.comp304lab6">

    <!-- for ex2 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="josephharrisonlimkevinma.comp304lab6.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="josephharrisonlimkevinma.comp304lab6.ex1.TransitActivity"
            android:parentActivityName="josephharrisonlimkevinma.comp304lab6.MainActivity" />
        <activity
            android:name="josephharrisonlimkevinma.comp304lab6.ex2.MessageActivity"
            android:parentActivityName="josephharrisonlimkevinma.comp304lab6.ex2.Ex2MainActivity" />

        <receiver android:name="josephharrisonlimkevinma.comp304lab6.ex2.SMSReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="josephharrisonlimkevinma.comp304lab6.ex2.Ex2MainActivity"
            android:parentActivityName="josephharrisonlimkevinma.comp304lab6.MainActivity"></activity>
    </application>

</manifest>